@import "../../../components/style/variables.module";

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: rem(30);

  h1 {
    font-size: rem(32);
    font-weight: 700;
  }
}

.mainContents {
  position: relative;

  > a {
    position: absolute;
    top: -40px;
    right: 0px;
  }

  > button {
    position: absolute;
    top: -40px;
    right: 0px;
  }

  h2 {
    @include sr-only;
  }
}

.pagenationWrapper {
  margin-top: rem(20);
}
