@import "../components/style/variables.module";

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
fieldset,
address,
input,
textarea,
select,
figure,
button,
dl {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #333;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.04em;
  scrollbar-gutter: stable;
  font-family:
    var(--font-pretendard),
    -apple-system,
    sans-serif;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: 14px;
}

input,
select {
  border: 1px solid #ddd;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
  border-color: #aaa;
}

textarea {
  border: 1px solid #ddd;
  resize: vertical;
  outline: none;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible,
button:focus-visible {
  border-color: #aaa;
  outline: none;
}

select {
  appearance: none;
  background: none;
}

/* 3. 태그 기본값 */
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
fieldset {
  border: none;
}

/* 4. 에디터 스타일 (ProseMirror) */
.ProseMirror {
  padding: 30px;
}
.ProseMirror img {
  max-width: 100%;
  width: 480px;
  height: auto;
}

/* 5. 타이포그래피 */
h1 {
  color: #111;
  font-family: var(--font-paybooc), sans-serif !important;
  letter-spacing: -0.05em;
  font-weight: 800;
}

h2 {
  color: #222;
  font-family: var(--font-paybooc), sans-serif !important;
  letter-spacing: -0.05em;
  font-weight: 800;
}
h3 {
  color: #444;
}

.main {
  margin: 0 auto;

  @include mobile {
    padding: rem(0) rem(5) rem(0);
  }
}
