/* src/styles/globals.css */

/* 1. margin, padding 초기화 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. 폰트 적용 */
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* 2. 기본 폰트, line-height */
html {
  font-size: 16px; /* 기본 폰트 사이즈 */
  line-height: 1.5; /* 국룰 라인 높이 */
  scroll-behavior: smooth; /* 부드러운 스크롤 */
}

/* 3. body 기본 스타일 */
body {
  font-family: "Pretendard", sans-serif;
  background-color: #fff;
  color: #333;
}

/* 4. a 태그 기본 */
a {
  text-decoration: none;
  color: inherit; /* 기본 텍스트 색상 상속 */
}

/* 5. 이미지, 버튼 기본 */
img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

/* 6. ul, ol 기본 */
ul,
ol {
  list-style: none;
}
