@import "../../style/variables.module";

.container {
  min-height: rem(500);
  width: 100%;
  padding: rem(60) 0;
  overflow: hidden;

  :global {
    .swiper {
      overflow: visible !important;
      width: 100%;
      height: 100%;
    }

    .mySwiper {
      &:not(:global(.swiper-initialized)) {
        display: flex;
        > div:not(:first-child) {
          display: none;
        }
      }
    }

    .swiper-wrapper {
      overflow: visible !important;
    }

    .swiper-slide {
      width: 70%;
      opacity: 0.4;
      transform: scale(0.85);
      transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: rem(24);
      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;

      @include mobile {
        border-radius: 0 !important;
      }

      &.swiper-slide-active {
        opacity: 1;
        transform: scale(1);
      }

      &[class*="swiper-slide-active"],
      &[class*="swiper-slide-duplicate-active"] {
        opacity: 1;
        transform: scale(1);
        z-index: 10;

        @include mobile {
          border-radius: 0 !important;
        }
      }
    }

    .swiper-pagination {
      .swiper-pagination-bullet:nth-child(n + 4) {
        display: none !important;
      }
    }

    .swiper-pagination-bullet-active {
      background: #000 !important;
      width: rem(20);
      border-radius: rem(10);
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: #fff;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      &::after {
        font-size: 24px;
      }
    }
  }
}

.slideItem {
  width: 100%;
  height: rem(500);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 40px;

  @media (min-width: 768px) {
    height: 500px;
  }

  img {
    object-fit: cover;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}

.textGroup {
  position: relative;
  z-index: 10;
  color: white;

  h2 {
    font-size: rem(40);
    font-weight: 800;
    margin-bottom: 8px;
  }
  p {
    font-size: rem(18);
    opacity: 0.9;
  }
}
