@import "../style/_variables.module.scss";

.topHeader {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;

  @include mobile {
    z-index: 999;
    padding: 0 20px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  h1 {
    width: 25%;
    max-width: 281px;
    min-width: 130px;

    a {
      display: block;
      width: 100%;
    }
  }
}

.iconGroup {
  position: absolute;
  top: 30px;
  right: 35px;
  display: flex;
  gap: 15px;

  @include mobile {
    gap: 10px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}

.logoImage {
  width: 100%;
  height: auto;

  @include mobile {
    width: 180px;
    object-fit: cover;
  }
}

.bottomHeader {
  width: 100%;
  height: 65px;
  position: relative;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.navigation {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.list {
  display: flex;
  list-style: none;
}

.navLink {
  position: relative;
  text-decoration: none;
  padding: 4px 0;
  transition: color 0.2s ease;
  font-weight: 700;
  color: #555;
  cursor: pointer;

  &.isFirst {
    color: $main-red;
  }

  &:hover {
    color: #222;
    &.isFirst {
      color: $main-red;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #222;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    backface-visibility: hidden;
    will-change: transform;
    -webkit-font-smoothing: antialiased;
  }

  &.isFirst::after {
    background-color: #c1272d;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  justify-content: center;
  gap: rem(84);
  padding: rem(50) rem(20) rem(76);
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.03);
  display: flex;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;

  @include tablet {
    gap: rem(40);
    padding: rem(40) rem(20);
  }
  &.isOpen {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  ul {
    display: block;
    list-style: none;
    padding: 0;
  }
}

.bCategory {
  font-size: 18px;
  color: #222;
  font-weight: 700;
  position: relative;
  list-style: none;
}

.sCategory {
  position: relative;
  margin-bottom: 15px;
  color: #555;
  font-size: 16px;
  list-style: none;

  &:hover {
    color: #222;
  }
}

.line {
  width: 110px;
  height: 1px;
  background-color: #ddd;
  margin: 13px 0 17px;
}
