@import "../../../../components/style/variables.module";

$primary-black: #222;
$border-color: #eee;

.checkboxGroup {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: rem(10) rem(5);
  cursor: pointer;

  input[type="checkbox"] {
    width: rem(18);
    height: rem(18);
    cursor: pointer;
    accent-color: #222;
  }

  label {
    font-size: rem(15);
    color: #444;
    cursor: pointer;
    font-weight: 500;
    user-select: none;
  }
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: rem(20);

  label {
    @include sr-only;
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: rem(15) rem(20);
    border-radius: 6px;
    font-size: rem(15);
    transition: all 0.2s ease;
    box-sizing: border-box;

    &:focus {
      outline: none;
      background-color: #fff;
    }

    &::placeholder {
      color: #bbb;
    }
  }

  textarea {
    min-height: 500px;
    line-height: 1.8;
    resize: none;
  }
}
