@import "../../../components/style/variables.module";

.inner {
  padding-bottom: rem(300);

  header {
    margin-bottom: rem(30);

    h1 {
      font-size: rem(30);
      margin-bottom: rem(30);
    }
  }
}
