@import "../../components/style/variables.module";

.inner {
  position: sticky;
  top: rem(100);
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  max-width: rem(1140);
  display: flex;
  justify-content: space-between;
  padding: rem(80) 0 rem(200);

  > section {
    width: rem(908);
  }

  > div {
    flex: 1;

    > header {
      margin-bottom: rem(30);

      > h1 {
        font-size: rem(30);
      }
    }
  }
}
