@import "../../../components/style/variables.module";

// 💗💗💗💗💗💗💗💗💗💗 여기부터 ProductInfo

// 💗💗💗💗💗💗💗💗💗💗 여기부터 DetailSection
.tabArea {
  background-color: white;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 100;

  > ul {
    display: flex;
    width: 1040px;
    margin: 0 auto;

    > li {
      cursor: pointer;
      padding: 25px 0;
      text-align: center;
      width: calc(100% / 3);
      color: #666;
      border-bottom: 2px solid #333;
    }
  }
}

.detailArea {
  max-width: 1040px;
  margin: 0 auto;
  padding: 100px 0;

  > div {
    margin: 0 auto;
    padding: 100px 0;
    position: relative;
    max-width: 800px;

    > img {
      width: 100%;
      height: auto;
      object-fit: cover;

      &:not(:last-of-type) {
        margin-bottom: 50px;
      }
    }
  }
}

.reviewArea {
  width: 1040px;
  margin: 0 auto;
  min-height: 400px;

  > div:first-of-type {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  > hr {
    border: none;
    height: 1px;
    width: 100%;
    background-color: #333;
    margin: 0;
  }
}

.reviewTitleArea {
  font-size: 20px;
  font-weight: 700;
}

.reviewButtonArea {
  display: flex;
  gap: 10px;

  button {
    border-radius: 5px;
    width: 150px;
    height: 45px;

    &:first-of-type {
      background-color: #333;
      color: white;
    }
    &:last-of-type {
      border: 1px solid #888;
    }
  }
}

.noReview {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

.reviewList {
}

.reviewRow {
  display: flex;
  padding: 22px;
  border-bottom: 1px solid #ddd;
}

.rating {
  width: 15%;
  padding: 0 20px;
}

.reviewText {
  width: 55%;
  padding: 0 20px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reviewWriter {
  width: 15%;
  padding: 0 20px;
}

.reviewDate {
  width: 15%;
  padding: 0 20px;
}

.shoppingGuide {
  padding-bottom: 300px;
  margin: 0 auto;
  width: 1040px;
}
